html, body{
    height: 100%;
    margin: 0;
}
.userTable{
    width: 60%;
    background: transparent;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border-radius: 5px;
    margin: 50px auto;
    padding: 50px;
    
    backdrop-filter: blur(900px);
    overflow: hidden;
}
.backpic{
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    
    margin: 0;
    padding: 0;
    position: absolute;
}
.addButton{
   text-decoration: none;
   background-color: rgba(34, 240, 34, 0.711);
   color: white;
   font-weight: 500;
   box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
   border-radius: 5px;
   padding: 10px;
}

.userTable table{
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;

}

.userTable table thead th{
    background-color: darkblue;
    color: white;
    padding: 10px;
}

.userTable table tbody td{
    padding: 10px;
    text-align: center;
}

.actionButtons button{
    border: 0;
    outline: none;
    background: red;
    padding: 8px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.actionButtons a{
    background: green;
    padding: 6px 10px;
    color: white;
    border-radius: 5px;
    margin: 0 10px;
    text-decoration: none;
}
.heading{
    text-align: center;
    border-color: black;
    border: 2px solid;
    border-radius: 5px;
}
.heading2{
    text-align: center;
    /* border-color: black;
    border: 2px solid;
    border-radius: 5px;
    margin-top: 30px;
    padding: 5px; */
    text-decoration: underline;
}